@navbar-top-height: 42px;
@navbar-bottom-height: 57px;

html, body {
    height: 100%;
}

.btn:focus {
    outline: none;
}

.modal-body {
    -webkit-overflow-scrolling: touch;
}

.table tbody tr th.ascending, .table tbody tr th.descending {
    background-color: #dff0d8;
}

.table tbody tr th.ascending > span:after {
    content: '^';
    float: right;
}

.table tbody tr th.descending > span:after {
    content: '^';
    float: right;
    -webkit-transform:rotate(-180deg);
}

button > img {
    width: 14px;
    height: 14px;
    margin-top: 1px;
}

.between-navbars {
    position: absolute;
    width: 100%;
    top: @navbar-top-height;
    bottom: @navbar-bottom-height;
}

.touch-scrolling {
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.photo-thumbnail {
    height: 75px;
}

#viewer {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1030; // more than footer
}

#button-info {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#google-maps {
    width: 100%;
    height: 200px;
}